version: '3.4'

services:
  themanager:
    image: themanager
    container_name: themanager
    build:
      context: .
      dockerfile: TheManager/Dockerfile
    depends_on:
      - graylog
      
  thecollector:
    image: thecollector
    container_name: thecollector
    build:
      context: .
      dockerfile: TheCollector/Dockerfile
    depends_on:
      - graylog

  theportainer:
    image: portainer/portainer
    command: -H unix:///var/run/docker.sock
    restart: always

  graylog:
    image: graylog/graylog:4.0
    container_name: graylog
    depends_on: 
      - theportainer

  mongo:
    image: mongo:4.2
    container_name: mongo
    depends_on: 
      - theportainer

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
    container_name: elasticsearch
    depends_on: 
      - theportainer
