version: '3.4'

services:
  themanager:
    image: ${DOCKER_REGISTRY-}themanager
    container_name: themanager
    build:
      context: .
      dockerfile: TheManager/Dockerfile
    depends_on:
      - graylog
      
  thecollector:
    image: ${DOCKER_REGISTRY-}thecollector
    container_name: thecollector
    build:
      context: .
      dockerfile: TheCollector/Dockerfile
    depends_on:
      - graylog

  portainer:
    image: portainer/portainer
    container_name: portainer
    command: -H unix:///var/run/docker.sock
    restart: always

  postgresql:
    image: 'docker.io/bitnami/postgresql:11-debian-10'
    container_name: postgresql

  graylog:
    image: graylog/graylog:4.0
    container_name: graylog
    depends_on:
      - elasticsearch
      - mongo

  mongo:
    image: mongo:4.2
    container_name: mongo

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
    container_name: elasticsearch
    depends_on:
      - mongo
